.sub-title {
    background: blue;
    font-size: 40px;
    font-weight: bold;
}

.list {
    background: gray;
}

#recipe {
    font-weight: lighter;
    background: pink;
}

.list #recipe1 {
    background: yellow;
}